.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 250px;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px; // Ajusta esta altura según tus necesidades
  }
  
  .toolbar-title {
    flex: 1;
    text-align: center;
    margin-left: 40px; // Compensar el espacio del botón de menú
  }
  
  .menu-button {
    position: absolute;
    left: 16px;
  }
  
  .content {
    padding: 16px;
  }
  
  .mat-sidenav-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1;
  }
  
  @media (max-width: 599px) {
    .sidenav {
      width: 100%;
      max-width: 300px;
    }
  
    .toolbar-title {
      font-size: 18px;
    }
  
    .toolbar {
      height: 56px; // Altura más pequeña para dispositivos móviles
    }
  }