.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 250px;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between; // Distribuye el espacio entre los elementos
    padding: 0 16px; // Añade un poco de padding horizontal
  }
  
  .toolbar-title {
    flex: 1;
    text-align: center;
  }
  
  .menu-button {
    // Elimina la posición absoluta
    margin-right: 16px; // Añade un margen a la derecha del botón
  }
  
  .content {
    padding: 16px;
  }
  
  .mat-sidenav-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    padding: 16px;
    overflow-y: auto; // Permite desplazamiento si el contenido es muy largo
    height: calc(100vh - 64px); // Resta la altura de la barra de navegación
  }
  
  @media (max-width: 599px) {
    .sidenav {
      width: 100%;
      max-width: 300px;
    }
  
    .toolbar-title {
      font-size: 18px;
    }
  
    .toolbar {
      height: 56px; // Altura más pequeña para dispositivos móviles
    }

    .main-content {
      height: calc(100vh - 56px); // Ajusta para la altura de la barra en móviles
    }
  }